<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Diamond Ticket{% endblock %}</title>
    <link rel="stylesheet" href="public/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% include 'components/navbar.html.twig' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}





    <script>
   setTimeout(() => {
  const isUserLogin = localStorage.getItem("store");
  const currentPage = window.location.search;

  if (!isUserLogin && !currentPage.includes("signup")) {
    window.location.href = "index.php?page=signup";
  }
}, 1000);

    
    </script>
</body>
</html>