<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Diamond Ticket{% endblock %}</title>
    <link rel="stylesheet" href="public/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% include 'components/navbar.html.twig' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}
</body>
</html>