<!DOCTYPE html>
<html>
<head>
    <title>Twig Test</title>
<link rel="stylesheet" href="public/css/app.css">
</head>
<body>
     {% include 'components/navbar.html.twig' %}
     {% include 'components/herosection.html.twig' %}
     {% include 'components/footer.html.twig' %}
     
</body>
</html>