{% extends 'base.html.twig' %}


{% block content %}
    <section class="signupcontainer">
      {% include 'components/loginfield.html.twig' %}
      <a href="/signup" style="color:white" >
        Dont have an account, Sign up
      </a>
    </section>
    {% endblock %}

