{% extends 'base.html.twig' %}

 {% block title %}Sign up{% endblock%}

{% block content %}
    <section class="signupcontainer">
      <h3>Please, Sign Up</h3>
{% include 'components/fields.html.twig' %}
</section>
{% endblock %}
