  <div class="container">
         <div class="hero-section">
      <div class="circle"></div>
      <div class="texts">
        <h2>Manage Your Ticket with Ease</h2>
        <p>Track, update, and resolve issues faster.</p>

        <div class="btns">
          <button>Get Started</button>
          <button>Login</button>
        </div>
      </div>
      <div class="image">
        <img src="/public/image/ticket.jpg" alt="hero-section" />
      </div>
    </div>
      <div>
        {% include 'components/card.html.twig' %}
      </div>
    </div>