{% set userLogin ={
userName:" ",
password:"" 
}%}


    {# <form class="signupForm" onSubmit={handleSubmit}> #}
    <form class="signupForm" >
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
     value="{{userLogin.email}}"
        />
      </div>
      <div>
        <label for="Password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
           value="{{userLogin.password}}"
          onChange={handleUserOnchange} #}
        />
      </div>

      <div>
        <button type="submit">Login</button>
      </div>
    </form>


<script>
const inputField= document.querySelectorAll("form div input")
const inputForm= document.querySelector("form")
let userLogin= {}
let fetchUserDetail;
 
      const retreiveValue = localStorage.getItem("store");
      if(retreiveValue){
       fetchUserDetail =  JSON.parse(retreiveValue)
      }else{
      userLogin= {
            email: "",
            password: "",
          };
      }
      console.log("fetchUserDetail",fetchUserDetail)
        
  
 

  const handleUserOnchange = (e) => {
    const { name, value } = e.target;
   userLogin[name]= value.trim()
   console.log(userLogin)
  };


  const handleSubmit = (e) => {
    e.preventDefault();


    if (
      !userLogin.email ||
      userLogin.email !== fetchUserDetail.email ||
      !userLogin.password ||
      userLogin.password !== fetchUserDetail.password
    ) {
      alert("Please, check your fields");
      return;
    }

    localStorage.setItem("Loginstore", JSON.stringify(userLogin));
    alert("Login successfully");

    userLogin= {
      email: "",
      password: "",
    };


    setTimeout(() => {
       window.location.href ="index.php?page=dashboard"
      
    }, 1000);
  };


inputField.forEach(input => {
  input.addEventListener("change", handleUserOnchange)
});
inputForm.addEventListener("submit",handleSubmit)

</script>
