{% set isOpenModal= false %}
  <header>
      <div class="logo">
        <h2>Diamond Ticket</h2>
      </div>

 <nav class="navbars-big ">
        <a href="/index.php?page=login">Login</a>
        <a href="/index.php?page=signup">Get Started</a>
        <a href="/index.php?page=dashboard">Dashboard</a>
        <a href="/index.php?page=dashboard">Ticket Management screen</a>
    </nav>



      <div class="navs">
        <nav class="navbar-small">
          <h2 class="cancel">
       <i class="fa-solid fa-circle-xmark"></i>
          </h2>
              <a href="/index.php?page=login">Login</a>
        <a href="/index.php?page=signup">Get Started</a>
        <a href="/index.php?page=dashboard">Dashboard</a>
        <a href="/index.php?page=dashboard">Ticket Management screen</a>
        </nav>
      </div>

      {# <div className="hamburger" onClick={handleOpen}>  #}
      <div class="hamburger"> 
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>


    <script>
    const hamburger = document.querySelector(".hamburger");
  const mobileMenu = document.querySelector(".navs");
  const cancelBtn = document.querySelector(".cancel");

  let isOpenModal = false;

  mobileMenu.style.display= "none"

  hamburger.addEventListener("click", () => {
    isOpenModal = !isOpenModal;
    console.log("Hamburger clicked");
    mobileMenu.style.display = isOpenModal ? "block" : "none";
  });

  cancelBtn?.addEventListener("click", () => {
    isOpenModal = false;
    mobileMenu.style.display = "none";
  });


    </script>