

    <section className="status-list">
      {# {statusLists.map((status, index) => ( #}
        {# <div key={index} className="status-item"> #}
        <div  class="status-item">
          {# <p>{{status.label}}</p>
          <h3>{{status.value}}</h3> #}

          <p>Hekk</p/>
          <h3>hekek</h3>
        </div>
      {# ))} #}
    </section>
  {# );
}; #}

<script>

{# const StatusList = ({ ticketCreationList }) => {
  const safeList = Array.isArray(ticketCreationList) ? ticketCreationList : []; #}


// <?php
// $statusLists = [
//     [ 
//         'label' => 'Total Tickets', 
//         'value' => count($safeList)
//     ],
//     [
//         'label' => 'Open Tickets',
//         'value' => count(array_filter($safeList, function ($item) {
//             return $item['status'] === 'open';
//         }))
//     ],
//     [
//         'label' => 'Resolve Tickets',
//         'value' => count(array_filter($safeList, function ($item) {
//             return $item['status'] === 'closed';
//         }))
//     ],
// ];
// ?>


//   const statusLists = [
//     { label: "Total Tickets", value: safeList.length },
//     {
//       label: "Open Tickets",
//       value: safeList.filter((item) => item.status === "open").length,
//     },

//     {
//       label: "Resolve Tickets",
//       value: safeList.filter((item) => item.status === "closed").length,
//     },
//   ];

</script>
