{% set ticketList = ticketCreationList is defined and ticketCreationList is iterable ? ticketCreationList : [] %}
   <section class="ticket-list-container">
  {% for ticket in ticketList %}
    <div class="ticket-list">
      
        <h2>{{ticket.title}}</h2>
        <p>{{ticket.description}}</p>

        <p>
          Status: <span class={`status-badge status-${{ticket.status}}`}>
            {{ticket.status.replace("_", " ")}}
          </span>
        </p>

        <div class="actn-btn">
          {# <button class="edit" onClick={() => handleEdit(index)}> #}
          <button class="edit" >
            Edit
          </button>
          {# <button class="delete" onClick={() => handleDelete(ticket.title)}> #}
          <button class="delete">
            Delete
          </button>
        </div>
      </div>
 {% endfor %}
  
 </section>


{# // <script>   </script> #}
