
      <div class="ticket-list" key={index}>
        <h2>Hello</h2>
        <p>yes</p>
        {# <h2>{ticket.title}</h2>
        <p>{ticket.description}</p> #}

        <p>
          Status:
          <span class={`status-badge status-open`}>
            {# {ticket.status.replace("_", " ")} #}
            Open
          </span>
          {# <span class={`status-badge status-${ticket.status}`}>
            {ticket.status.replace("_", " ")}
          </span> #}
        </p>

        <div class="actn-btn">
          {# <button class="edit" onClick={() => handleEdit(index)}> #}
          <button class="edit" >
            Edit
          </button>
          {# <button class="delete" onClick={() => handleDelete(ticket.title)}> #}
          <button class="delete">
            Delete
          </button>
        </div>
      </div>
    
   <section class="ticket-list-container">
 yes</section>;


<script> 


// const TicketList = ({ ticketCreationList, handleDelete, handleEdit }) => {
//     const safeList = Array.isArray(ticketCreationList) ? ticketCreationList : [];
//   const ticketListing = safeList.map((ticket, index) => {
//     return (


        </script>
