   <section>
      <h2>Create your Ticket</h2>

      {# <form class="signupForm" onSubmit={handleTicketCreation}> #}
      <form class="signupForm">
        <div>
          <label htmlFor="title">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            {# value={ticketCreation.title}
            onChange={handleTicketOnchange} #}
          />
        </div>
        <div>
          <label htmlFor="description">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            {# value={ticketCreation.description}
            onChange={handleTicketOnchange} #}
          />
        </div>
        <div>
          <select
            name="status"
            id="status"
            {# onChange={handleTicketOnchange}
            value={ticketCreation.status} #}
          >
            {# {listStatus} #}
    <option value="open" >
            
          </select>
        </div>
        <div>
          <button type="submit">Create</button>
        </div>
      </form>
    </section>


<script>

// import { useState } from "react";

// const TicketCreeation = ({
//   ticketCreation,
//   handleTicketOnchange,
//   handleTicketCreation,
// }) => {
//   const [list] = useState(["Open", "Close", "In progress"]);

//   const listStatus = list.map((status, index) => {
//     return (
//       <option key={index} value={status} selected={status === "Open"}>
//         {status}
//       </option>
//     );
//   });

</script>
